// todo-list

.todo_list {
  padding: 20px;
  border-radius: 8px;
  background-color: $bg;
  box-shadow: 0 0 10px rgba($tx, 0.1);

  &__wrapper {
    margin-bottom: 7vh;
  }

  &__form {
    display: flex;
    position: relative;

    &__check {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      &.is_checked {
        span {
          color: #fff;
          background-color: $cl;
        }
      }

      &.is_hidden {
        pointer-events: none;

        span {
          opacity: 0;
        }
      }
    }

    &__input {
      flex: 1;

      input[type='text'] {
        font-weight: 700;
        color: rgba($tx, 0.9);
        padding: 0 48px;
        border-radius: 16px;

        @include placeholder {
          font-weight: 700;
          color: rgba($tx, 0.25);
        }
      }
    }
  }

  &__filters {
    display: flex;
    margin: 20px -8px 15px;
  }

  &__filter {
    margin: 0 8px;

    &.is_active {
      color: #fff;
      background-color: $cl;
    }
  }

  &__item {
    display: flex;
    margin: 10px 0;

    &.is_completed {
      .todo_list__item__check span {
        color: #fff;
        background-color: $cl;
      }
    }

    &__text {
      flex: 1;

      input[type='text'] {
        font-weight: 400;

        &[disabled] {
          color: $bg;
          background-color: #fff;
          text-decoration: line-through;
        }
      }
    }

    &__delete {
      @extend %flex_center;
      width: 48px;
      font-size: 20px;
      background-color: #fff;
      border-radius: 0 16px 16px 0;
      cursor: pointer;
      position: relative;

      span {
        @extend %ani;
      }

      @include hover {
        span {
          color: rgb(255, 50, 100);
        }
      }
    }
  }

  &__actions {
    margin-top: 20px;

    &__count {
      font-size: 15px;
      line-height: 30px;
    }

    &__clear {
      display: inline-block;

      &.is_hidden {
        display: none;
      }
    }
  }

  input[type='text'] {
    height: 48px;
    font-size: 16px;
    font-family: $ff;
    letter-spacing: 0.01em;
    border: none;
  }
}
